@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100&display=swap');
@media (prefers-color-scheme: dark) {
  body {background: #000000;color: #ffffff}
}
@media (prefers-color-scheme: light) {
  body {background: #ffffff;color: #000000}
}
.maincontent{
	font-family: 'Commissioner', sans-serif;
	text-align: center
}
