# Mac
.DS_Store
*/.DS_Store

# Windows
Thumbs.db
*/Thumbs.db

# Ignore for local apache server
.htaccess
*/*.log
*.log

# Disable the non-finished angular front-end
node_modules/

# Disable binary upload
download/test/*/*.dmg
download/test/*/*.appx
download/test/*/*.deb
